.tipografia_form{
    margin-top: 20px;
    font-weight: 100;
}

.tipografia_confirm{
    margin-left: 300px;
}

img {
    height: 100px;
    margin-left: 400px;
    margin-top: 100px;
}

.button_salvar {
    float: left
}

.message_error{
    color: red
}