*{
    margin: 0px;
    padding: 0px;
}

nav{
    background-color: #585858;
    padding: 20px;
}

ul li{
    color: #eee;
    display: inline;
    padding: 15px;
}

.link {
    text-decoration: none;
    color: #eee;
}

ul li:hover{
    background-color: rgba(164, 172, 175, 0.329);
}